<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <title>Document</title>
  <link rel="icon" href="" type="image/png">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <header class="header">
      <div class="wrapper">
        <div class="header-nav flex-c-b">
          <div class="header-nav__item flex-c">
            <form action="#" class="lang flex-c">
              <button class="current">РУ</button>
              <button>УКР</button>
            </form>
            <a href="tel:093 123 45 67">093 123 45 67</a>
            <a href="#">Доставка и оплата</a>
            <a href="#">О магазине</a>
          </div>
          <div class="header-nav__item">
            <a href="#" class="fw-b">Рецепты</a>
            <a href="#">Зарегистрироваться</a>
            <a href="#" class="login">Войти</a>
          </div>
        </div>
      </div>
      <div class="header-content" :class="{fixed:(fixedMenu)}">
        <div class="fixed-content">
          <div class="wrapper flex-c">
            <div class="header-content__logo">
              <img src="./img/logo.png" alt="">
            </div>
            <form action="#" class="header-content__search">
              <input type="text" placeholder="Поиск по товару...">
              <button><i class="icon-search"></i></button>
            </form>
            <div class="header-cart">
              <a href="#" class="link flex-c-c"><i class="icon-cart"></i></a>
              <div class="header-cart__content">
                <p class="title">Моя Корзина</p>
                <p class="text">{{productLenght}} товаров: <span class="fw-b">{{productPrice}} грн</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-links">
        <div class="wrapper">
          <ul>
            <li><a href="#">Блендеры</a></li>
            <li><a href="#">Блинницы</a></li>
            <li><a href="#">Бутербродницы</a></li>
            <li><a href="#">Вафельницы</a></li>
            <li><a href="#">Весы</a></li>
            <li><a href="#">Гриль</a></li>
            <li><a href="#">Кофеварки</a></li>
            <li><a href="#">Кухонные машины</a></li>
            <li><a href="#">Мороженница</a></li>
            <li><a href="#">Мясорубка</a></li>
            <li><a href="#">Фондю</a></li>
            <li><a href="#">Чайники</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="main__slider">
        <div class="slider-card" v-for="(item,key) in baners" :class="{active :(currentBaner == key)}" :style="{backgroundImage:'url('+item.img+')'}">
          <div class="wrapper">
            <h2 class="wb-title">{{item.text}}</h2>
            <a href="#" class="wb-btn">Узнать больше</a>
          </div>
        </div>
        <ul class="slider-dots">
          <li v-for="(item,key) in baners" :class="{active :(currentBaner == key)}" @click="currentBaner = key"></li>
        </ul>
      </div>
        <slider class="product-margin" 
            slider-name="Новинки"
            :data-ppage="perPage"
            :data-current-screen="currentScreen"
        >
        <template v-slot:slider-content>
            <template  v-for="(productsGroup, index) in cutGroup(products)">
                  <div class="slide-list" :class="{current: (index == 0)}">
                  <div class="slide-list__content flex-s" :style="{ width: sliderWidth +'px' }"> 
                    <productCard v-for="(product, index) in productsGroup"
                      :data-product="product"
                      :key="index"
                      @change="cartCalc(index)"
                      >
                    </productCard>
                  </div>
                  </div>
            </template>
          </template>
        </slider>
        <slider class="product-margin" 
            slider-name="Рекомендуемые"
            :data-ppage="perPage"
            :data-current-screen="currentScreen"
        >
        <template v-slot:slider-content>
            <template  v-for="(productsGroup, index) in cutGroup(products)">
                  <div class="slide-list" :class="{current: (index == 0)}">
                  <div class="slide-list__content flex-s" :style="{ width: sliderWidth +'px' }"> 
                    <productCard v-for="(product, index) in productsGroup"
                      :data-product="product"
                      :key="index"
                      @change="cartCalc(index)"
                      >
                    </productCard>
                  </div>
                  </div>
            </template>
          </template>
        </slider>
        <div class="text-block" style="background-image: url(./img/text-block__bg.jpg); ">
          <div class="wrapper">
            <p class="wb-title">Рецепты</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
            <a href="#" class="wb-btn">Посмотреть рецепты</a>
          </div>
        </div>
    </main>
    <footer class="footer">
      <div class="wrapper">
        <ul class="footer-social flex-c">
          <li class="flex-c-c"><a href="#"><i class="icon-Untitled-1"></i></a></li>
          <li class="flex-c-c"><a href="#"><i class="icon-fb"></i></a></li>
          <li class="flex-c-c"><a href="#"><i class="icon-inst"></i></a></li>
        </ul>
        <ul class="footer-contacts">
          <li>Address Lorem ipsum dolor sit </li>
          <li><a href="tel:+380950544841">Phone Number Lorem ipsum </a></li>
          <li><a href="mailto:zotovihor@gmail.com">Email  ipsum dolor sit amet </a></li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="js/vue.js"></script>
  <script>
  var banersObj =[
        {
          img:"./img/slider-bg.jpg",
          text:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod",
          link:'#',
        },
        {
          img:"./img/slider-bg.jpg",
          text:"2orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod",
          link:'#',
        },
        {
          img:"./img/slider-bg.jpg",
          text:"3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod",
          link:'#',
        },
      ],
      productsObj = [
        {
          name: "Вафельница DO9047W",
          img: './img/pr1.png',
          price:'1300',
          rating: 2,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
        {
          name: "Фритюрница DO 458 FR",
          img: './img/pr2.png',
          price:'2000',
          rating: 4,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
        {
          name: "Блендер DO 9144 M",
          img: './img/pr3.png',
          price:'1070',
          rating: 0,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
        {
          name: "Бутербродница DO 9041 C",
          img: './img/pr4.png',
          price:'650',
          rating: 5,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
        {
          name: "Бутербродница DO 9041 C",
          img: './img/pr4.png',
          price:'650',
          rating: 5,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
        {
          name: "Бутербродница DO 9041 C",
          img: './img/pr4.png',
          price:'650',
          rating: 5,
          characteristics: [
            'Вместимость: 3 литра',
            'Корпус из нержавеющей стали',
            'Съемный бак из эмали',
            'Регулируемый и съемный термостат с индикатором питания и температуры',
            'Крышка с окном просмотра и съемным фильтром запаха',
            '2200 Вт',
          ],
        },
      ];
  </script>
  <script src="js/script.js"></script>
</body>
</html>