/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'DinPro';
  src: url("../fonts/dinpro/dinpro-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-SB.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf?3z1puj") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e907";
}

.icon-inst:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e901";
}

.icon-balance:before {
  content: "\e902";
}

.icon-cart:before {
  content: "\e903";
}

.icon-star-fill:before {
  content: "\e904";
}

.icon-star:before {
  content: "\e905";
}

.icon-arrow:before {
  content: "\e906";
}

.icon-Untitled-1:before {
  content: "\e900";
}

html {
  overflow-x: hidden;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  line-height: 17px;
  color: #6d6d6d;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

/*styles*/
.wrapper {
  max-width: 1170px;
  min-width: 360px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

input, button, textarea {
  font-family: "OpenSans", sans-serif;
}

span, a, label {
  display: inline-block;
  vertical-align: middle;
}

.flex-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-c-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-s {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-c-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ct-prt {
  margin: 0 0 -30px -30px;
}

.ct25 {
  width: calc(25% - 30px);
  margin: 0 0 30px 30px;
}

.ct33 {
  width: calc(33.33% - 30px);
  margin: 0 0 30px 30px;
}

.ct50 {
  width: calc(50% - 15px);
}

.ct50 + .ct50 {
  margin-left: 30px;
}

.blc50 {
  width: 50%;
}

.wb-btn {
  width: 248px;
  height: 62px;
  border: 2px solid #fff;
  border-radius: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  -webkit-transition: background .3s , border .3s;
  transition: background .3s , border .3s;
}

.wb-btn:after {
  content: "\e906";
  font-family: 'icomoon';
  margin-left: 20px;
  font-size: 8px;
  margin-bottom: -2px;
}

.wb-title {
  font-size: 43px;
  line-height: 49px;
  color: #fff;
  font-weight: 700;
}

.fw-b {
  font-weight: 700;
  color: #ff9400;
}

/*=========================*/
/*HEADER*/
.header-nav {
  height: 63px;
}

.header-nav a {
  margin-left: 30px;
  line-height: 1;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-content {
  border-top: 1px solid #f1f1f1;
  height: 120px;
}

.header-content.fixed .fixed-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 2px 14.72px 1.28px rgba(210, 210, 210, 0.64);
  box-shadow: 0px 2px 14.72px 1.28px rgba(210, 210, 210, 0.64);
}

.header-content .fixed-content {
  height: 120px;
  min-width: 360px;
  background: #fff;
  z-index: 10;
  -webkit-transition: height .3s,-webkit-box-shadow .3s;
  transition: height .3s,-webkit-box-shadow .3s;
  transition: height .3s,box-shadow .3s;
  transition: height .3s,box-shadow .3s,-webkit-box-shadow .3s;
}

.header-content .fixed-content > .wrapper {
  height: 100%;
}

.header-content__logo {
  width: 17.55%;
}

.header-content__logo img {
  width: 110px;
  height: 32px;
}

.header-content__search {
  width: 53%;
  position: relative;
}

.header-content__search input {
  width: 100%;
  font-size: 15px;
  padding: 0 0 20px 52px;
  border: none;
  color: #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  -webkit-transition: border .3s , color .3s;
  transition: border .3s , color .3s;
}

.header-content__search input::-webkit-input-placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.header-content__search input::-moz-placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.header-content__search input:-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.header-content__search input::-ms-input-placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.header-content__search input::placeholder {
  color: #d6d6d6;
  font-size: 14px;
}

.header-content__search input:focus {
  border-color: #6d6d6d;
  color: #6d6d6d;
}

.header-content__search input:focus ~ button {
  color: #6d6d6d;
}

.header-content__search button {
  width: 43px;
  text-align: center;
  position: absolute;
  font-size: 19px;
  top: 0;
  left: 0;
  color: #d6d6d6;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-links {
  background: #ecb682;
  color: #fff;
  padding: 30px 0 27px 0;
  font-weight: 600;
  text-transform: uppercase;
}

.header-links ul {
  margin: 0 0 -21px -25px;
}

.header-links li {
  display: inline;
  margin: 0 0 0 21px;
  line-height: 1;
}

.header-links li a {
  margin-bottom: 21px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.login, .lang .current, .header-cart .link {
  position: relative;
}

.login:before, .lang .current:before, .header-cart .link:before {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background: #7c7c7c;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -16px;
  pointer-events: none;
}

.lang {
  font-size: 18px;
  text-transform: uppercase;
}

.lang button {
  color: #b8b8b8;
  font-weight: 400;
}

.lang button + button {
  margin-left: 20px;
}

.lang .current {
  color: #292929;
  pointer-events: none;
}

.lang .current:before {
  left: auto;
  right: -10px;
}

.header-cart {
  width: 29.45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-cart .link {
  width: 50px;
  text-align: center;
  height: 33px;
  color: #3f3f3f;
  margin-right: 20px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-cart .link:before {
  left: auto;
  right: 0px;
  height: 100%;
}

.header-cart .title {
  font-weight: 600;
  color: #363636;
  text-transform: uppercase;
  line-height: 1;
  margin: -3px 0 7px 0;
}

.header-cart .text span {
  vertical-align: baseline;
}

/*=========================*/
/*MAIN*/
/*baner-slider*/
.main__slider {
  overflow: hidden;
  height: 470px;
  position: relative;
  margin-bottom: 60px;
}

.slider-card {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: 50% 50% / cover no-repeat;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  padding: 90px 0 70px 0;
}

.slider-card.active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slider-card.active ~ .slider-card {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slider-card .wb-title {
  width: 650px;
  margin-bottom: 20px;
}

.slider-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 22px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-dots li {
  cursor: pointer;
  padding: 8px;
}

.slider-dots li:before {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.502);
  -webkit-transition: background .3s;
  transition: background .3s;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.slider-dots li.active:before {
  background: #fff;
}

.rating li:before {
  content: "\e904";
  font-family: 'icomoon';
  color: #ffc600;
}

.rating li.active ~ li:before {
  content: "\e905";
}

.rating.norating li:before {
  content: "\e905";
}

/**/
.text-block {
  padding: 80px 0;
  background: 50% 50% /cover no-repeat;
  color: #fff;
  text-align: center;
  margin-top: 130px;
}

.text-block .wrapper {
  max-width: 700px;
}

.text-block .wb-btn {
  width: 290px;
  margin: auto;
}

.text-block .text {
  line-height: 20px;
  margin: 35px 0 30px 0;
}

/*=========================*/
/*FOOTER*/
.footer {
  background: #1c040a;
  padding: 60px 0 100px 0;
}

.footer-social {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.footer-social li {
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  color: #1c040a;
  font-size: 30px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.footer-social li + li {
  margin-left: 15px;
}

.footer-contacts {
  color: #626673;
  line-height: 1;
  font-family: 'DinPro', sans-serif;
}

.footer-contacts li + li {
  margin-top: 10px;
}

/*=========================*/
/*MEDIA*/
@media (min-width: 1025px) {
  .header-nav a:not(.fw-b):hover, .header-cart .link:hover {
    color: #ecb682;
  }
  .header-links li a:hover {
    color: #6d6d6d;
  }
  .wb-btn:hover {
    border-color: #ecb682;
    background: #ecb682;
  }
  .footer-social li:hover {
    background: rgba(255, 255, 255, 0.502);
  }
}

@media (max-width: 1169px) {
  /* styles*/
  .wrapper {
    max-width: 970px;
  }
  /*==============*/
}

@media (max-width: 969px) {
  /* styles*/
  .wrapper {
    max-width: 750px;
  }
  /*==============*/
  /* HEADER*/
  .header-nav {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    padding: 15px 0;
    height: 147px;
  }
  .header-nav__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .header-nav .lang + a {
    margin-top: 20px;
  }
  .header-nav a {
    margin: 0;
    width: 100%;
  }
  .header-nav a + a {
    margin-top: 20px;
  }
  .header-nav .login:before {
    height: 1px;
    width: 100%;
    top: -10px;
    left: 0;
  }
  /*==============*/
}

@media (max-width: 749px) {
  /*styles*/
  .wrapper {
    max-width: 100%;
  }
  .wb-title {
    font-size: 28px;
    line-height: 34px;
  }
  .wb-btn {
    width: 330px;
  }
  /*==============*/
  /*HEADER*/
  .header-content {
    height: 170px;
  }
  .header-content.fixed .fixed-content {
    padding-top: 10px;
    height: 65px;
  }
  .header-content.fixed .header-content__search {
    max-height: 0;
    opacity: 0;
  }
  .header-content .fixed-content {
    height: 170px;
    -webkit-transition: padding .3s;
    transition: padding .3s;
  }
  .header-content__logo {
    width: 35%;
  }
  .header-content__search {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    -webkit-transition: max-height .3s;
    transition: max-height .3s;
    overflow: hidden;
    opacity: 1;
    max-height: 45px;
  }
  .header-cart {
    width: 65%;
  }
  .header-cart .link {
    width: 40px;
    margin-right: 10px;
  }
  .header-links ul {
    margin: 0 0 -10px -10px;
  }
  .header-links ul li {
    margin: 0 0 0px 10px;
  }
  .header-links ul li a {
    margin-bottom: 10px;
  }
  /*==============*/
  /*MAIN*/
  .slider-card .wb-title, .text-block .wb-btn {
    width: 330px;
  }
  /*==============*/
}
